# ==========================
# Virtual Environment
# ==========================
.venv/

# ==========================
# Python Cache
# ==========================
__pycache__/
*.py[cod]

# ==========================
# Environment Variables
# ==========================
.env

# ==========================
# Logs
# ==========================
logs/
*.log

# ==========================
# Database
# ==========================
*.db

# ==========================
# VS Code
# ==========================
.vscode/

# ==========================
# Testing
# ==========================
.pytest_cache/

# ==========================
# Build Files
# ==========================
build/
dist/

# ==========================
# Operating System Files
# ==========================
Thumbs.db
.DS_Store