fastapi
uvicorn[standard]

sqlalchemy

psycopg2-binary

python-jose[cryptography]

passlib[bcrypt]

bcrypt==4.1.3

python-dotenv

pydantic

pydantic-settings

python-multipart

email-validator

alembic

loguru

httpx